.placeholder{
  background-color: rgb(50,50,255);
  border: 2px solid white;
  color:orange;
}
body{
  background-color: rgb(50,50,255);
  color:orange;
}
table,th,td{
  border: 1px solid white;
}
#navigation{
  background-color: rgb(50,50,255);
  border: 2px solid white;
  color:orange;
  text-align: center;
  font-size: 20px;
}
a:link{color: orange;}
